<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
   <p>
    Splurty was built by <a target="_blank" href="https://tylerbporter.com">Tyler Porter.</a> He is currently attending Vanderbilt University's coding bootcamp and is embarking on a journey of learning to code. He is eager to add to an already eclectic collection of skills!
  </p>
  <p>
    His background prior to this career change includes healthcare, sales, and other endeavors, although his true passion as he is quick to admit is amateur cycling.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p> 
  <div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Tyler Porter</h2>
    <br />
    <p>
      Tyler Porter is a junior web developer by night and a technology sales representative by day. He has always loved working with new technologies and is eager to make the jump to web development after graduating from Vanderbilt's bootcamp in August. Currently, he is working on learning full-stack web development and has experience with HTML/CSS/JS and is eager to pick up new skills (<a href="https://github.com/pawptart/splurty">like learning Ruby on Rails by building Splurty!</a>)
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
</div>