
@font-face {
  font-family: 'Nobile-MediumItalic';
  src: font_url('Nobile-MediumItalic.eot?#iefix') format('embedded-opentype'),  font_url('Nobile-MediumItalic.woff') format('woff'), font_url('Nobile-MediumItalic.ttf')  format('truetype'), font_url('Nobile-MediumItalic.svg#Nobile-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Nobile-Regular';
  src: font_url('Nobile-Regular.eot?#iefix') format('embedded-opentype'),  font_url('Nobile-Regular.woff') format('woff'), font_url('Nobile-Regular.ttf')  format('truetype'), font_url('Nobile-Regular.svg#Nobile-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
